.navBar {
  display: flex;
  width: auto;
  padding: 0rem 6.25rem;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: flex-start;
  gap: 6.25rem;
  list-style: none;
}

.logo {
  text-align: right;
}

.hero {
  background-color: #e6ca76;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 10rem;
}

#firstName {
  color: #000;
  text-align: center;
  font-family: Futura;
  font-size: 15.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.92625rem;
  width: auto;
}

.subTitle {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0625rem; /* 137.5% */
}

#intro {
  background: #000;
  display: flex;
  width: 41.875rem;
  padding: 0.625rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #e6ca76;
  text-align: center;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  flex: 1 0 0;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
  background: #000;
}

.footerContent {
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 10rem;
  display: flex;
  height: 19.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: none;
  align-self: stretch;
  width: 100%;
  gap: 6.25rem;
  /* 
  display: flex;
  width: 94.5rem;
  padding: 3.125rem 6.25rem;
  flex-direction: column;
  align-items: center;

  background: #000; */
}

.footerText {
  color: #fff;
  text-align: center;
  font-family: Futura;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.135rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 6.25rem;
}

.footerLogo {
}

.footerList {
  list-style: none;
  text-align: left;
}

#lastName {
  color: #e6ca76;
  text-align: center !important;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* name footer */
  font-family: Futura;
  font-size: 19.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.1625rem;
}
